<div class="bg-secondary footer d-flex align-items-center justify-content-around">
    <a class="btn btn-link-dark" href="{{ path('customer_contact') }}">Prendre Contact</a>
    <a class="btn btn-link-dark">Mentions Légales</a>
    <a class="btn btn-link-dark">CGV</a>
</div>

