{% for rubrique,messages in app.flashes %}

    {% for message in messages %}

        <div class="alert alert-{{ rubrique }}">
            <p>{{ message }}</p>
        </div>

    {% endfor %}

{% endfor %}