{% extends "admin/base_admin.html.twig" %}

{% block body %}

    <div class="container py-5">
    <a href="{{ path('story_index') }}" class="btn btn-secondary mt-3">Revenir</a>
    <h1>Modifier une histoire</h1>

        {{ include('admin/story/_form.html.twig', {'button_label': 'Modifier'}) }}

        {{ include('admin/story/_delete_form.html.twig') }}

    </div>


{% endblock %}
