{% extends "admin/base_admin.html.twig" %}

{% block body %}

<div class="container py-5">
    <a href="{{ path('story_index') }}" class="btn btn-secondary mt-3 border-0 text-white bg-dark">Revenir</a>
    <h1>Ajouter une histoire</h1>

    {{ include('admin/story/_form.html.twig') }}
</div>

{% endblock %}
