<div class="">
    <form class="d-flex" action="{{ path('handleSearch') }}" method="GET">
            
        <input class="form-control me-2" type="tex" placeholder="rechercher" name="query" aria-label="Search">
            <button class="" type="submit">Rechercher</button>
    </form>
</div>